<% if (site.posts.length){ %>
  <div class="widget-wrap">
    <h3 class="widget-title"><%= __('mirror') %></h3>
    <div class="widget">
      <ul>
        <% for (var i in (config.mirror || theme.mirror)){ %>
          <li>
            <a href="<%- theme.mirror[i] %>" target="_blank"><%= i %></a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
<% } %>